
Order:

<div *ngIf="pizza != null">
  <app-pizza [pizza]="pizza"></app-pizza>
  <div>
    <input type="number" [(ngModel)]="OrderNumber" />
  </div>

  <div>
    Total Price: {{OrderNumber * pizza.price}}$
  </div>

  <div>
    <button (click)="Order(pizza, OrderNumber)">Order!</button>
  </div>

</div>
