<div>
  <span>Id</span>
  {{pizza.pizzaMenuItemId}}
  <span>{{pizza.pizzaTypeName}} - {{pizza.pizzaSizeName}}</span>
</div>
<div>
  <img src="../assets/pizza.jpg"/>
</div>
<div>
  {{pizza.price}}$
</div>

<div style="height:10px;"></div>